lanin.dev {
    root * /usr/share/caddy
    file_server
}

sync.lanin.dev {
    reverse_proxy syncthing:8384
}

gitea.lanin.dev {
    reverse_proxy gitea:3000
}

drone.lanin.dev {
    reverse_proxy drone:80
}
